header{
  margin: 0 auto;
}

body {
  text-align: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  /* background-image: url('https://sep.yimg.com/ay/scrapyourtrip/wild-west-wanted-sign-photo-frame-laser-die-cut-45.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; */
}


.container{
  margin: 10%;
}

.imageCard {
  width: 40vh;
  height: 60vh;
  background-image: url('../src/img/pole.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
  
}

.hangMan {
  margin-top: 30%;
  width: 100px;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (max-width: 600px) {
  header {
    width: fit-content;
    margin: 0 auto;
  }

  body{
    min-width: 100vw;
  }
}
